Flask==3.0.3
Flask-Cors==4.0.1
nltk==3.9.1
scikit-learn==1.5.2
transformers==4.45.2
torch==2.8.0
PyPDF2==3.0.1
pdfplumber==0.11.4
openai==1.47.0
python-dotenv==1.0.1
datasets==3.0.1
evaluate==0.4.3
accelerate==0.34.2
sentencepiece==0.2.0
protobuf==5.28.3
google-generative-ai==0.13.0
PyMuPDF==1.22.5
werkzeug==2.3.7
